header {
background-image : url("../img/companylogoBG.jpg");
background-size : 768px;
background-repeat : no-repeat;
background-position : center;
width : 768px;
height : 115px;
}
@font-face {
font-family : '"Colaborate-bold"';
src : url("../Fonts/ColabBol.otf");
}
@font-face {
font-family : '"abeatbyKai"';
src : url("../Fonts/abeatbyKaiRegular.otf");
}
@font-face {
font-family : '"Blueline_Paradise"';
src : url("../Fonts/BluelineParadise.ttf");
}
/*sets the video background to the desired position*/
#background {
position : fixed;
left : -50%;
bottom : -55%;
min-width : 100%;
min-height : 100%;
z-index : -100;
}
body{
	position : relative;
float : left;
left : 30%;
text-align : center;
}
/* Header/Pagetitle A allows me to use an interactive header & responsive title that returns the person to root */
.header {
font-family : "abeatbyKai", serif;
color : white;
z-index : 64;
overflow : hidden;
background-color : rgb(58, 45, 45);
padding : 1px 0.5px;
}
.header a {
float : left;
color : white;
padding : 2px;
text-decoration : none;
line-height : 25px;
border-radius : 4px;
}
.header a:hover {
background-color : #ddd;
color : white;
}
.pagetitle {
height : 125px;
width : 725px;
font-size : 6em;
font-weight : normal;
font-family : "Blueline Paradise", serif;
line-height : 1.2;
z-index : 58;
margin : 0;
position : relative;
top : -1%;
}
.pagetitle a {
font-size : 1em;
top : 45%;
width : 100%;
position : relative;
text-align : center;
color : #fffbdc;
white-space : nowrap;
}
.pagetitle a:hover {
background-color : transparent;
}
.index {
position : relative;
left : 30%;
margin : 5px;
}
.product {
position : relative;
left : 35%;
margin : 5px;
}
.blog {
position : relative;
left : 40%;
margin : 5px;
}
/* Box is used to group content. Was chosen over "body" due to not being able to get the same styling results (background not showing)*/
.box {
background-color : rgb(220, 220, 220);
height : 30em;
width : 768px;
}
.subtitle {
position : relative;
font-family : abeatbyKai, serif;
font-size : 2em;
color : white;
text-shadow : 2px 2px #000000;
background-color : rgb(0, 112, 177);
line-height : 3em;
top : -25px;
margin-bottom : -30px;
}
.subtitle2 {
font-family : abeatbyKai, serif;
color : white;
text-shadow : 2px 2px #000000;
float : left;
font-size : 1.5em;
top : -25px;
margin : 25px;
}
fieldset {
font-family : abeatbyKai, serif;
display : block;
position : relative;
left : 10%;
width : 80%;
text-align : left;
margin-bottom : 5px;
border-width : 1px;
background-color : white;
}
select {
font-family : abeatbyKai, serif;
position : relative;
float : right;
width : 40%;
right : 6%;
transform : scale(1.3);
}
/* Border width set to 0 so it doesn't interfere with the box makeup*/
input {
border-width : 0;
font-family : abeatbyKai, serif;
}
.submit {
position : relative;
font-family : abeatbyKai, serif;
font-size : 1.25em;
color : white;
text-shadow : 2px 2px #000000;
background-color : rgb(0, 112, 177);
line-height : 3em;
width : 83.5%;
border-width : 0;
left : 2%;
}
/* Border width set to 0 so it doesn't interfere with the box makeup*/
textarea {
width : 100%;
height : 100%;
font-family : abeatbyKai, serif;
border-width : 0;
}
.footer {
background-color : black;
width : 100%;
height : 25px;
bottom : 5px;
color : white;
position : relative;
z-index : 101;
}
/*color is changed to prevent the basic purple href color from showing up*/
.footertext {
position : relative;
top : 5px;
font-family : "Colaborate-bold";
}
.footertext a {
color : rgb(255, 255, 255);
}
/*scaling & repositioning content for tablet use*/
@media screen and (max-width:768px) {
body {
position : relative;
float : left;
left :-1%;
width : 100%;
text-align : center;
height : 90%;
}
.box
{
padding-top: 15px;
padding-bottom: 30px;
height: 25em;
}
.footer {
bottom : 0;
}
.subtitle {
z-index : -200;
}
.subtitle2 {
position : relative;
z-index : -200;
margin-bottom : -50px;
}
}
/*further scaling & repositioning for handheld usage*/
@media screen and (max-width:320px) {
header {
background-size : 320px;
background-repeat : no-repeat;
background-position : center;
width : 310px;
height : 65px;
top : 30px;
}
body
{
position : relative;
width : 320px;
float : left;
left : -3%;
text-align : center;
border : 1px;
height : 10em;

}
select {
transform : scale(1.2);
width : 87%;
margin-top : 3%;
font-size : 0.75em;
}
.header {
color : white;
z-index : 64;
overflow : hidden;
padding-bottom : 25px;
}
.header a {
float : left;
color : black;
padding : 2px;
width : 30px;
text-decoration : none;
font-size : 0.2em;
line-height : 5px;
border-radius : 4px;
background-color : #fff;
}
.index {
position : relative;
top : 9%;
left : 0%;
}
.product {
position : relative;
top : 26%;
left : -14%;
}
.blog {
position : relative;
top : 43%;
left : -28.2%;
margin : 5px;
}
.pagetitle {
width : 600px;
height : 58px;
position : relative;
white-space : nowrap;
}
.pagetitle a {
left : 7.5%;
top : 65%;
position : relative;
color : #fffbdc;
transform : scale(2.75);
background-color : transparent;
}
.subtitle {
	top: -17.5px;
	position:relative;
	margin-bottom: 20px;
z-index : 0;
}
.box {
font-size : 0.75em;
margin-left: -17.5px;
width : 320px;
height: 35em;
padding-bottom: 0px;
}
.submit
{
left:3.5%;
}
}
